@media(max-width: 920px) {
    .post-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .blog h2 {
        font-size: 35px;
    }
    .post-item h1, .post-item h5 {
        padding: 15px;
        margin: 0;
        font-size: 26px;
    }
    .post-p {
        padding: 0;
        margin: 0;
        text-align: start;
        padding-left: 15px;
        text-decoration: underline;
        font-size: 20px;
    }
    .post-item {
        margin: 0 15px 0 15px;
    }
    .top {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #input {
        width: 70%;
        padding: 10px;
    }
    #button {
        width: 20%;
        padding: 10px;
        border: 0;
    }
}
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.goto img {
    width: 15px;
}
.blog h2 {
    display: inline-block;
    position: relative;
}
.blog h2 a {
    display: inline-block;
    align-items: center;
}
.blog h2 #log, #pro {
    float: right;
    text-align: right;
    margin-top: 0%;
    padding-top: 0%;
    padding: 3px 10px 3px 10px;
    background-color: #455755;
    font-weight: bolder;
    color: #ffffff;
    border-radius: 10px;
    display: none;
}
#searchBar {
    display: grid;
    margin: 35px 10px 10px 10px;
    grid-gap: 1em;
}
#searchBar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
.top {
    display: grid;
    grid-template-columns: 70% 30%;
}
#brandi {
    padding: 10px;
}
#button {
    background-color: #008073;
    color: aliceblue;
}
.footer {
    width: 100%;
    display: grid;
    background-color: #2f3037;
    padding: 10px;
    margin-top: 20px;
}
.sub-1 {
    display: grid;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.sub-1 form {
    border: 1px solid aliceblue;
    padding: 10px;
    justify-items: center;
}
.sub-1 form input {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}
.foot {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    word-wrap: normal;
}
.copyright {
    color: aliceblue;
    padding: 10px;
    flex: 2;
}
.sms {
    display: flex;
    justify-content: end;
    padding: 0;
    text-align: center;
    justify-items: end;
    flex: 3;
}
.sms a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    justify-items: end;
}
.foot div {
    display: inline-block;
}
#log {
    justify-content: end;
    padding: 10px;
}
#pro {
    justify-content: end;
    padding: 10px;
}
/*css for blog page */
.blog h2 {
    width: 100%;
    background-color: #008073;
    color: #ffffff;
    padding: 20px;
}
.blog {
    height: 100%;
}
.post-wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
    margin: 0 10px 0 10px;
    justify-content: center;
}
.post-item {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.post-item img {
    width: 100%;
    border-radius: 10px;
    padding: 3px;
}
.post-item h1 {
    padding: 0px 15px 0 15px;
}
.post-item h5 {
    padding: 0px 15px 0 15px;
    margin-bottom: 50px;
}
.post-item p {
    padding: 0;
    margin: 0;
    text-align: start;
    padding-left: 15px;
    text-decoration: underline;
}
.btnreadmore {
    width: 100%;
    background-color: #008073;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 10px;
    outline: #008073;
    border: 1px solid #008073;
    overflow: auto;
    position: absolute;
    margin-top: 10px;

}
.btnreadmore:hover {
    border-bottom: 2px solid #096b63;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
        background-color: #096b63;
}
@media (max-width:920px) {
    .post-item h5 {
        font-size: 15px;
    }
}