@media(max-width: 920px) {
    .blog h2 {
        font-size: 35px;
    }
    
    #button {
        display: none;
    }
    .top {
        display: flex;
        flex-wrap: wrap;
    }
    .foot {
    display: flex;
    }
    .copyright {
        width: 100%;
    }
    .sms {
        width: 100%;
    }
    .profile {
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;

}
.namepic {
    display: grid;
    color: #008073;
}
.namepic img {
    width: 100px;
}
.namepic a {
    text-decoration: none;
    background-color: ;
    color: #008073;
}
}
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.goto img {
    width: 15px;
}
.blog h2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.searchBar {
    display: grid;
    justify-content: end;
    margin: 35px 10px 10px 10px;
    grid-gap: 1em;
}
.searchBar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
.top {
    display: grid;
    grid-template-columns: 70% 30%;
}
.branding {
    color: #008073;

}
#button {
    background-color: #008073;
    color: aliceblue;
}
.footer {
    width: 100%;
    display: grid;
    background-color: #193835;
    padding: 10px;
    margin-top: 20px;
}
.foot {
    display:flex;
    flex-wrap: wrap;;
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    word-wrap: normal;
}
.copyright {
    color: aliceblue;
    padding: 10px;
    flex: 2;
}
.sms {
    display: flex;
    justify-content: end;
    padding: 0;
    text-align: center;
    justify-items: end;
    flex: 3;
}
.sms a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    justify-items: end;
}
.foot div {
    display: inline-block;
}
.post {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.post form {
    width: 80%;
}
.post form input {
    width: 100%;
    border: 1px solid #008073;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    word-wrap: normal;
}
.post form label {
    color: #008073;
    
}
.post form textarea {
    width: 100%;
    height: auto;
}
.post form h3 {
    color: #517c79;
    text-align: center;
}
/*css for profile section */
.profile {
    width: 80%;
    border: 1px solid black;
    padding: 1em;
    justify-content: center;
    margin: 0 10% 0 10%;
}
.profile div h1 {
    justify-self: start;
}
.profile div button {
    display: grid;
    grid-template-columns: 100%;
}
.namepic {
    display: grid;
    color: #008073;
    justify-items: center;
}
.namepic img {
    width: 100px;
    grid-column: 1;
    border-radius: 50%;
}
.namepic h3 {
    grid-row: 2;
    text-align: center;
}
.namepic a {
    grid-row: 3;
}
.namepic a:hover {
    text-decoration: underline;
    color: blue;
}
.namepic a {
    text-decoration: none;
    color: #008073;
}
.namepic button {
    background-color: #008073;
    border: 1px solid #008073;
    color: aliceblue;
}
.namepic h4 {
    grid-row: 4;
}
/*css for page manage landing page*/
.manageweb {
    width: 100%;
    display: block;

}
.man-nav {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    background-color:grey;
}
.man-nav a {
    text-decoration: none;
    color:#ffffff;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
.man-nav a:hover {
    background-color: #008073;
}
#man-main {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-main-div1 {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#man-main img {
    width: 20%;
}
.man-main-div1 label {
    width: 100%;
    text-align: start;
    color: #008073;
}
.man-main-div1 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-main-div1 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 50%;
}
* {
    background-origin: border-box;
}
#update-text {
    margin: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
/*css for skills management*/
#man-skills {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-skills-div2 select {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
#skill-add {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
.skill-added {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #008073;
    margin: 0;
}
.skill-added img {
    width: 10%;
}
.man-skills-div2 label {
    width: 100%;
    text-align: start;
    color: #008073;
}
.man-skills-div2 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-skills-div2 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
.man-skills-div2 {
    width: 90%;
    padding: 10px;
}
/* css for about management */
.man-about-div3 {
    width: 90%;
    padding: 10px;
}
#man-about {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-about-div3 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-about-div3 textarea {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    border-radius: 10px;
    margin: 0;

}
.man-about-div3 label {
    width: 100%;
    text-align: start;
    color: #008073;
    margin-top: 4px;
}
.man-about-div3 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
.about-added {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.about-added h1 {
    border-bottom: 1px solid #008073;
    padding: 10px;
}
.about-added h4 {
    word-wrap: break-word;
    padding: 10px;
}
.about-added p {
    background-color: #008073;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}
/*css for project management page */

#man-project {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-project-div4 {
    width: 90%;
    padding: 10px;
}
.man-project-div4 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-project-div4 textarea {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    border-radius: 10px;
    margin: 0;

}
.man-project-div4 label {
    width: 100%;
    text-align: start;
    color: #008073;
    margin-top: 4px;
}
.man-project-div4 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
.project-added {
    display: grid;
    grid-template-columns: 5% 12% 35% 30% 13%;
    width: 100%;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #008073;
    margin: 0;
    grid-gap: 1%;
    padding: 5px;
}
.project-added p {
    text-align: start;
}
.project-added p, img {
    width: fit-content;
}
.project-added img {
    width: 100%;
    margin-top: 15px;
}
#man-experience {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
/*css for contacts managements page */
#man-contact {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.message-con {
    width: fit-content;
    padding: 20px;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
    margin-top: 1em;
    border-radius: 1em;
}
.name-date {
    display: inline-block;
}
.message-con p {
    padding: 10px;
    text-align: start;
    margin: 0;
}
.contact-added {
    display: grid;
    grid-template-columns: 10% 35% 35% 20%;
    width: 100%;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #008073;
    margin: 0;
    grid-gap: 1%;
    padding: 5px;
}
.contact-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
.skill-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
.project-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
#man-main, #man-skills, #man-about, #man-project, #man-experience, #man-contact {
    display: none;
}