@media(max-width: 920px) {
    .blog h2 {
        font-size: 35px;
    }
    
    #button {
        display: none;
    }
    .top {
        display: flex;
        flex-wrap: wrap;
    }
    .foot {
    display: flex;
    }
    .copyright {
        width: 100%;
    }
    .sms {
        width: 100%;
    }
    .profile {
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;

}
.namepic {
    display: grid;
    color: #008073;
}
.namepic img {
    width: 100px;
}
.namepic a {
    text-decoration: none;
    background-color: ;
    color: #008073;
}
}
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.goto img {
    width: 15px;
}
.blog h2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.searchBar {
    display: grid;
    justify-content: end;
    margin: 35px 10px 10px 10px;
    grid-gap: 1em;
}
.searchBar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
.top {
    display: grid;
    grid-template-columns: 70% 30%;
}
.branding {
    color: #008073;

}
#button {
    background-color: #008073;
    color: aliceblue;
}
.footer {
    width: 100%;
    display: grid;
    background-color: #193835;
    padding: 10px;
    margin-top: 20px;
}
.foot {
    display:flex;
    flex-wrap: wrap;;
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    word-wrap: normal;
}
.copyright {
    color: aliceblue;
    padding: 10px;
    flex: 2;
}
.sms {
    display: flex;
    justify-content: end;
    padding: 0;
    text-align: center;
    justify-items: end;
    flex: 3;
}
.sms a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    justify-items: end;
}
.foot div {
    display: inline-block;
}
.post {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.post form {
    width: 80%;
}
.post form input {
    width: 100%;
    border: 1px solid #008073;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    word-wrap: normal;
}
.post form label {
    color: #008073;
    
}
.post form textarea {
    width: 100%;
    height: auto;
}
.post form h3 {
    color: #517c79;
    text-align: center;
}
/*css for profile section */
.profile {
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    justify-content: center;
}
.profile div h1 {
    justify-self: start;
}
.profile div button {
    display: grid;
    grid-template-columns: 100%;
}
.namepic {
    display: grid;
    color: #008073;
    justify-items: center;
}
.namepic img {
    width: 100px;
    grid-column: 1;
    border-radius: 50%;
}
.namepic h3 {
    grid-row: 2;
    text-align: center;
}
.namepic a {
    grid-row: 3;
}
.namepic a:hover {
    text-decoration: underline;
    color: blue;
}
.namepic a {
    text-decoration: none;
    color: #008073;
}
.namepic button {
    background-color: #008073;
    border: 1px solid #008073;
    color: aliceblue;
}
.namepic h4 {
    grid-row: 4;
}