/* css for large screens */

@media(min-width:960px){
    #main {
        display: none;
    }
}
/* styling small screens */
@media(max-width:960px){
    /* responsiveness for navigation page */
    .navigation {
        display: ;
        position: fixed;
        width: 100%;
    }
    .branding {
        display: grid;
        width: 100%;
        display: block;
    }
    .links {
        width: 150px;
    }
    /* global content configuration */
    .content {
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        width: fit-content;
        margin-top: 100px;
    }
    /* responsive contact page */
    .contact-s {
        width: 90%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

    }
    .contact-2 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contact-1 div h5{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        font-weight: lighter;
        width: fit-content;
        word-wrap: break-word;
    }
    #contact {
        height: 100%;
    }
    .contact-1 {
        padding: 5%;
    }
    /* responsive experience page */
    #expert{
        width: 90%;
    }
    #expert h1 {
        font-weight: bolder;
    }
    /* projects page responsive codes */
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-item {
        width: 90%;
    }
    /* responsive codes for about page */
    #about div {
        width: 90%;
    }
    #about div p {
        font-size: 25px;
    }
}