

@font-face {
    font-family: spartan; 
    src: url(https://fonts.google.com/specimen/Spartan);
}



body {
    width: 100%;
    font-family: spartan, 'Trebuchet MS';
    background-image: linear-gradient(rgb(134, 108, 108), #777098);
}

.landing {
    background-image: url("img/back-photo.jpg");
}
.landing img {
    width: fit-content;
}


.title {
    background-color: paleturquoise;
    padding: 10px;
    width: 100%;
}
.skills h3 {
    text-align: justify;
    padding: 10px;
    background-color: papayawhip;
}
.skill {
    display: inline-block;
    position: sticky;
    border: 1px solid #fff;
    text-align: center;
    width: 20%;
    padding: 10px;
}
.skill img {
    width: 64px;
}

.story-cont {
    text-align: center;
    margin: 0 20% 0 20%;
    background-color: gainsboro;
    padding: 10px;
    font-size: 20px;
}


.post {
    padding: 10px;
    text-align: center;
}

.contactDetails, .contactForm {
    display: inline-block;
    align-items: center;
    width: 30%;
    margin: 0 9% 0 9%;
}
.contactForm form {
    width: 100%;
    padding: 10px;
}
.contactForm form label, input, button, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.contact {
    display: inline-block;
}
.contact p img {
    width: 18px;
}
.contact p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.login {
    width: 50%;
    margin: 0 24% 0 24%;
}
.login h2 {
    text-align: center;
}
.login img {
    width: 15px;
}
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}