* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    font-family: roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
}

/* css for navigation */

.navigation {
    width: 15%;
    float: left;
    height: 100%;
    margin: 0;
    position: fixed;
    box-shadow: #f1f1f1;
}
.navigation a {
    text-decoration: none;
    color: black;
}
.branding {
    background-color: #f1f1f1;
    padding: 10px;
}
.links {
    display: block;
}
.links a {
    padding: 10px;
    display: block;
}
.links a:hover {
    border-left: 2px solid blue;
    background-color: #f1f1f1;
}
.links a.active {
    border-left: 2px solid blue;
}

/* css for pages */

.content {
    width: 85%;
    float: left;
    margin-left: 15%;
}

/* landing page */
.landing {
    width: 100%;
    height: 100%;
}
.landing img {
    width: 100%;
    height: auto;
}
.landing-text {
    font-size: 30px;
    
}