@media(max-width: 920px) {
    .post-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .blog h2 {
        font-size: 35px;
    }
    .post-item h1, h5 {
        padding: 15px;
        margin: 0;
        font-size: 26px;
    }
    .post-item p {
        padding: 0;
        margin: 0;
        text-align: start;
        padding-left: 15px;
        text-decoration: underline;
        font-size: 20px;
    }
    .post-item {
        margin: 0 15px 0 15px;
    }
    .post-item div {
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        justify-content: center;
        margin-bottom: 10px;

    }
}
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.goto img {
    width: 15px;
}
.blog h2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.searchBar {
    display: grid;
    justify-content: end;
    margin: 35px 10px 10px 10px;
    grid-gap: 1em;
}
.searchBar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
.top {
    display: flex;
    flex-wrap: wrap;
}
#button {
    background-color: #008073;
    color: aliceblue;
}
.footer {
    width: 100%;
    display: grid;
    background-color: #2f3037;
    padding: 10px;
    margin-top: 20px;
}
.sub-1 {
    display: grid;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.sub-1 form {
    border: 1px solid aliceblue;
    padding: 10px;
    justify-items: center;
}
.sub-1 form input {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}
.foot {
    display:flex;
    flex-wrap: wrap;
    background-color:rgb(29, 28, 28);
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    word-wrap: normal;
}
.copyright {
    color: aliceblue;
    padding: 10px;
    flex: 2;
}
.sms {
    display: flex;
    justify-content: end;
    padding: 0;
    text-align: center;
    justify-items: end;
    flex: 3;
}
.sms a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    justify-items: end;
}
.foot div {
    display: inline-block;
}
.post-item div {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    justify-content: center;
    grid-gap: 2em;
    margin-bottom: 10px;

}
.goto a:hover {
    color: rgb(161, 59, 59);
}
#update-post {
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
    margin: 10px 30% 10px 30%;
    height: fit-content;
    position: absolute;
    top: 0;
}

#author, #post-title, #date, #image, #summary {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
    margin: 10px 0 10px 0;
}
.texta {
    width: 100%;
}
.texta textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #008073;
}
#update-post div label {
    width: 100%;
    color: #008073;
}
.texta, .inputt {
    display: grid;
}
@media(max-width: 1000px){
    #update-post {
        margin: 10px 10% 10px 10%;
        width: 80%;
    }
}