
.goto {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.goto img {
    width: 15px;
}
.blog h2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.searchBar {
    display: grid;
    justify-content: end;
    margin: 35px 10px 10px 10px;
    grid-gap: 1em;
}
.searchBar input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
#button {
    background-color: #008073;
    color: aliceblue;
}
.footer {
    width: 100%;
    display: grid;
    background-color: #193835;
    padding: 10px;
    margin-top: 20px;
}
.foot {
    display:flex;
    flex-wrap: wrap;;
    width: 100%;
    margin: 0;
    height: auto;
    align-items: center;
    word-wrap: normal;
}
.copyright {
    color: aliceblue;
    padding: 10px;
    flex: 2;
}
.sms {
    display: flex;
    justify-content: end;
    padding: 0;
    text-align: center;
    justify-items: end;
    flex: 3;
}
.sms a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    justify-items: end;
}
.foot div {
    display: inline-block;
}
.post {
    display: flex;
    margin: 0 10px 0 10px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


/*css for profile section */
.profile {
    width: 90%;
    border: 1px solid #008073;
    padding: 1em;
    justify-content: center;
    margin: 0 5% 0 5%;
}
.profile div h1 {
    justify-self: start;
}
.profile div button {
    display: grid;
    grid-template-columns: 100%;
}

.namepic {
    display: grid;
    color: #008073;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
    text-align: start;
    margin-bottom: 20px;
}
.namepic img {
    grid-column: 1;
    width: 100%;
    margin-bottom: 10px;
}
.namepic h3 {
    grid-row: 2;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 0;
}
.namepic p {
    font-size: 25px;
    text-decoration: underline;
    color: #193835;
}
.namepic a {
    grid-row: 3;
}
.namepic a:hover {
    text-decoration: underline;
    color: blue;
}
.namepic a {
    text-decoration: none;
    color: #008073;
}
.buttonss {
    width: fit-content;
    display: inline-block;
} 
.buttonss button {
    width: 200px;
    margin: 5px;
    padding: 10px;
    outline: none;
    color: #fff;
    background-color: #008073;
    border: 1px solid #008073;
    font-family: Comfortaa;
}
.buttonss button a {
    color: #fff;
    text-decoration: none;
}
.buttonss button a:hover {
    color: #fff;
}
.buttonss button:hover {
    background-color: rgb(24, 52, 85);
}
.buttons button a {
    color: #fff;
    text-decoration: none;
}
.buttons button a:hover {
    text-decoration: none;
    color: #fff;
}
.namepic h4 {
    grid-row: 4;
}
#aboutContentDash {
    margin: 0;
}
#aboutHeadingDash {
    margin: 0;
}
#projectsInDash img {
    width: 100%;
}
.dashwrap-item {
    display: grid;
    grid-template-columns: 20% 75%;
    align-items: start;
    grid-gap: 5%;
    justify-items: start;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
}
/*css for page manage landing page*/
.manageweb {
    width: 100%;
    display: block;

}
.man-nav {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    background-color:grey;
}
.man-nav a {
    text-decoration: none;
    color:#ffffff;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}
.man-nav a:hover {
    background-color: #008073;
}
#man-main {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-main-div1 {
    padding: 20px;
    width: 60%;
    margin: 0 20% 0 20%
}
.man-main-div1 label {
    width: 100%;
    text-align: start;
    color: #008073;
}
.man-main-div1 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-main-div1 button {
    padding: 10px;
    text-align: center;
    margin: 0%;
    width: 50%;
    margin-top: 10px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #fff;
}
* {
    background-origin: border-box;
}
/*css for skills management*/
#man-skills {
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-skills-div2 select {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
#skill-add {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
#skillsAddForm {
    width: 50%;
    margin: 0 25% 0 25%;
    padding: 20px;
}
.man-skills-div2 label {
    width: 100%;
    text-align: start;
    color: #008073;
}
.man-skills-div2 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-skills-div2 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
/* css for about management */
.man-about-div3 {
    width: 60%;
    padding: 10px;
    margin: 0 20% 0 20%;
}
#man-about {
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-about-div3 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-about-div3 textarea {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    border-radius: 10px;
    margin: 0;

}
.man-about-div3 label {
    width: 100%;
    text-align: start;
    color: #008073;
    margin-top: 4px;
}
.man-about-div3 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
#about-add {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
/*css for project management page */

#man-project {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.man-project-div4 {
    width: 60%;
    padding: 10px;
    margin: 0 20% 0 20%;
}
.man-project-div4 input {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
.man-project-div4 textarea {
    width: 100%;
    border: 1px solid #008073;
    padding: 10px;
    border-radius: 10px;
    margin: 0;

}
.man-project-div4 label {
    width: 100%;
    text-align: start;
    color: #008073;
    margin-top: 4px;
}
.man-project-div4 button {
    padding: 0;
    text-align: center;
    margin: 0%;
    width: 100%;
}
#project-add {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}

/* managing experience*/
#man-experience {
    width: 100%;s
    margin: 10px 0 0 0;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
#expert-add {
    margin-top: 5px;
    padding: 20px;
    border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
#manageExpert {
    width: 50%;
    margin: 0 25% 0 25%;
}
#manageExpert input, button, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #008073;
}
#manageExpert label {
    color: #008073;
}
/*css for contacts managements page */
#man-contact {
    width: 100%;
    margin-top:0px;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
        0 22.3px 17.9px rgba(110, 110, 110, 0.072),
        0 41.8px 33.4px rgba(110, 110, 110, 0.086),
        0 100px 80px rgba(59, 59, 59, 0.12);
}
.message-con {
    width: 70%;
    padding: 10px;
    margin-top: 1em;
    border-radius: 1em;
    margin: 0 15% 0 15%;
}
#cont-div4 {
    height: 550px;
    scroll-behavior: auto;
    overflow: scroll;
    scrollbar-shadow-color: aqua;
    background-color: rgb(231, 228, 228);
    scrollbar-highlight-color: black;
    width: 100%;
}
.message-con p {
    padding: 10px;
    text-align: start;
    margin: 0;
    text-decoration: underline;
    color: #008073;
}
.message-con h5 {
    padding: 10px;
    text-align: start;
    margin: 0;
    font-size: 20px;
}
.contact-added {
    display: grid;
    grid-template-columns: 10% 35% 35% 20%;
    width: 100%;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #008073;
    margin: 0;
    grid-gap: 1%;
    padding: 5px;
}
.contact-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
.skill-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
.project-added button {
    padding: 5px;border: 1px solid #008073;
    background-color: #008073;
    color: #ffffff;
    border-radius: 10px;
}
#man-main, #man-skills, #man-about, #man-project, #man-experience, #man-contact {
    display: none;
}
#profile {
    margin-bottom: 120px;
}