/* css for large screens */

@media(min-width:960px){
    #main {
        display: none;
    }
    #closeButton {
        display: none;
    }
    
}
@media(max-width:510px){
    /* responsiveness for navigation page */
    .branding a{
        position: absolute;
        font-size: 10px;
    }
    .branding {
        height: 100px;
    }
}
@media(max-width:490px){
    /* responsiveness for navigation page */
    .branding a{
        
        position: absolute;
    }
}
/* styling small screens */
@media(max-width:960px){
    /* responsiveness for navigation page */
    .navigation {
        position: fixed;
        width: 100%;
        margin: 0%;
        padding: 0%;
        z-index:1;
    }
    .branding {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        top: 0%;
        position: absolute;
        z-index: 1;
    }
    #closeButton {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #008073;
    }
    .landing{
        z-index: auto;
        position: relative;
    }
    .nav-item {
        position: absolute;
    }
    .branding div {
        flex: 1;
    }
    .branding a {
        text-align: center;
        font-weight: bolder;
        position: absolute;
    }
    .branding a p {
        text-align: center;
        padding: 0%;
        margin-top: -12px;
    }
    .links {
        height: 100%;
        position: absolute;
        display: none;
        cursor: pointer;
        top: 0;
        left: 0;
        bottom: 0;
        transition: 0.5s;
        z-index: 99990;
        padding-top: 50px;
    }
    #main {
        padding: 10px;
    }
    /* global content configuration */
    #content {
        margin-left: 0%;
        margin-right: 0%;
        padding: 0%;
        width: fit-content;
        margin-top: 64px;
    }
    /* responsive contact page */
    .contact-s {
        width: 90%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

    }
    .contact-2 {
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    .contact-1 div h5{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        font-weight: lighter;
        width: fit-content;
        word-wrap: break-word;
    }
    #contact {
        height: 100%;
    }
    .contact-1 {
        padding: 5%;
    }
    /* responsive experience page */
    #expert{
        width: 90%;
    }
    #expert h1 {
        font-weight: bolder;
    }
    /* projects page responsive codes */
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-item {
        width: 90%;
    }
    /* responsive codes for about page */
    #about div {
        width: 90%;
    }
    #about div p {
        font-size: 25px;
    }
    /*responsiveness for profile page */
    .profile {
        width: 90%;
        border: 1px solid #008073;
        padding: 1em;
        justify-content: center;
        margin: 0 5% 0 5%;
    }
    #profile {
        text-align: center;
    }
    .namepic {
        display: flex;
        color: #008073;
        flex-wrap: wrap;
        grid-gap: 20px;
        text-align: center;
        justify-content: center;
    }

    /*responsiveness for blog watch page */
    .post {
        width: 90%;
        margin: 0 5% 0 5%;
    }
    .post p {
        font-size: 15px;
    }
    .post h1 {
        font-weight: bolder;
        font-size: 30px;
    }
    .post-details p {
        font-size: 25px;
    }
    .post-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .comment-form button {
        margin-left: 0%;
        width: 40%;
        background-color: #008073;
        color: #ffffff;
        border: 1px solid #008073;
        border-radius: 10px;
        margin: 10px;
    }
    /*responsiveness for new post page */
    .post form {
        width: 90%;
        margin: 0%;
        padding:0;
    }
    .post form input {
        margin: 0%;
    }
    .post form textarea {
        margin: 0%;
    }
}
/*responsiveness of login page */
@media(max-width: 750px){
    /*css for branding*/
   .top {
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0%;
   }
}
@media(max-width: 550px){
    /*css for footer */
    .foot {
         display: flex;
         justify-content: center;
         text-align: center;
         flex-wrap: wrap;
         flex-direction: column;;
    }
    .copyright {
        width: 100%;
    }
    .sms {
        width: 100%;
        padding: 20px;
    }
 }
 .foot {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:700px){
    /*css for login form */
    .login form {
        width: 90%;
    }

}
@media(max-width:500px){
    .goto a {
        display: block;
        padding: 10px;
    }
}
.goto a:hover {
    border-bottom: 1px solid #23302e;
}
@media(min-width: 1400px){
    #maina {
        display: none;
    }
}
@media(max-width: 1400px) {
    /*  responsiveness of additional pages on profile page */
    .man-nav {
        display: none;
    }
    .man-main-div1 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .man-nav div img{
        width: 40px;
        padding: 10px;
        }
        #pro-links {
            display: none;
        }
        #mainpage, #skillpage, #aboutpage, #projectpage, #expertpage, #contactpage, #managepage {
            display: none;
            float: left;
        }
        #man-main {
            width: 100%;
            display: block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        .man-main-div1 {
            margin: 0 10% 0 10%;
            width: 80%;
        }
        .buttons {
            display: grid;
            justify-content: center;
        }
        #man-skills {
            width: 100%;
            display: block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        .skill-added {
            display: grid;
            grid-template-columns: 10% 20% 20% 25% 20%;
            width: 100%;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #008073;
            margin: 0;
        }
        .skill-added {
            word-wrap: break-word;
        }
        #man-about {
            width: 100%;
            display: block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        #man-project {
            width: 100%;
            display:block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        .project-added {
            display: grid;
            grid-template-columns: 3% 25% 35% 20% 13%;
            width: 100%;
            justify-content: center;
            align-items: start;
            border-bottom: 1px solid #008073;
            margin: 0;
            grid-gap: 1%;
            padding: 5px;
        }
        .project-added p {
            word-wrap: break-word;
        }
        #man-experience {
            width: 100%;
            display: block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        #man-contact {
            width: 100%;
            display: block;
            margin-top: 10px;
            justify-content: center;
            background-color: #ffffff;
            box-shadow: 0 2.8px 2.2px rgba(27, 27, 27, 0.034), 0 6.7px 5.3px rgba(110, 110, 110, 0.048), 0 12.5px 10px rgba(117, 116, 116, 0.06),
                0 22.3px 17.9px rgba(110, 110, 110, 0.072),
                0 41.8px 33.4px rgba(110, 110, 110, 0.086),
                0 100px 80px rgba(59, 59, 59, 0.12);
        }
        .contact-added {
            width: 100%;
            justify-content: center;
            align-items: start;
            border-bottom: 1px solid #008073;
            margin: 0;
            grid-gap: 1%;
            padding: 5px;
        }
        .contact-added p {
            word-wrap: break-word;
        }
        #cont-div4 {
            width: 100%;
            scrollbar-shadow-color: black;
            scrollbar-track-color: black;
            margin-right: 10px;
            word-wrap: break-word;
            scrollbar-width: 20px;
        }
    
}